docker/db/
docker/docker-compose.yml

bin/templates/entrypoint/*.yml
**/*.info.yml
**/*.libraries.yml
**/*.links.menu.yml
**/*.routing.yml

bin/templates/component

**/dist
modules/farm_fd2/src/public
modules/**/components.d.ts
modules/**/src/module/config

docs/library
docs/components
docs/FarmData2.md

scratch

licenses
CHANGELOG.md
