dist
package-lock.json
node_modules
docker/db
bin/templates/entrypoint/*.yml
bin/templates/component
licenses
CHANGELOG.md
docs/library
docs/components
docs/FarmData2.md
modules/**/components.d.ts
modules/**/src/module/config
scratch
