/**
 * @file
 * Styling for Farmdata2
 */

/* FarmData2 Icon */
.toolbar-icon-farm-fd2-main::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='10' fill='black' /%3E%3C/svg%3E") !important;
  width: 22px;
  height: 22px;
}
